*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
main{
    margin: auto;
}
/* header */
header{
background-image: radial-gradient(circle at 87.34% 5.5%, #b2a6dc 0, #6a68ae 50%, #2c528f 100%);    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    position: relative;
}
h1{
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}
header form{
    display: flex;
    width: 40%;
    margin-bottom: 2.5rem;
}
form input, form button{
    outline: none;
    padding: 1rem;
}
form input{
    border: none;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    width: 80%;
    font-size: 1.3rem;

}
form button{
    border: none;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    color: #fff;
    font-size: 1.5rem;
    background-color: #000;
    width: 20%;
    
}
.contenedor-resultadoBusqueda{
    position: absolute;
    top: 14rem;
    left: 25%;
    margin-top: 2rem;
    background-color: #eee;
    padding: 2rem;
    width: 50%;
    border-radius: 1rem;
    box-shadow: 3px 6px 15px -4px #00000042;
    z-index: 999;
    text-align: center;
}
.contenedor-resultadoBusquedaOk{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contenedor-resultadoBusquedaOk div{
    width: 25%;
}
.contenedor-resultadoBusquedaOk h2{
    text-transform: uppercase;
}
.contenedor-resultadoBusquedaOk div:nth-child(1),
.contenedor-resultadoBusquedaOk div:nth-child(2),
.contenedor-resultadoBusquedaOk div:nth-child(3){
    border-right: 3px solid #cdcdcd;
}
#resultadoBusquedaError{
    display: none;
}

/* mapa */
#map { height: 80vh; }

@media screen and (max-width: 768px) {
    header{
        padding: 2rem;
        justify-content: start;
    }
    h1{
        font-size: 1.5rem;
    }
    header form{
        width: 100%;
        margin-bottom: 6.5rem;
        margin-top: 0;
    }
    .contenedor-resultadoBusqueda{
        left: 5%;
        top: 9.5rem;
        width: 90%;
    }
    .contenedor-resultadoBusquedaOk{
        flex-direction: column;
    }
    .contenedor-resultadoBusquedaOk div{
        width: 100%;
    }
    .contenedor-resultadoBusquedaOk h2{
        font-size: 1.2rem;
    }
    .contenedor-resultadoBusquedaOk div:nth-child(1),
    .contenedor-resultadoBusquedaOk div:nth-child(2),
    .contenedor-resultadoBusquedaOk div:nth-child(3){
        border-right: none;
        border-bottom: 3px solid #cdcdcd;
        padding: 0.5rem;

    }
}